aws_region           = "us-east-2"
instance_type        = "t3.small"
key_name             = "your-key-pair-name"
sns_email            = "vpraveenkumar0211@gmail.com"
mongo_uri            = "mongodb+srv://..."
dexcom_client_id     = "..."
dexcom_client_secret = "..."
groq_api_key         = "..."
gemini_api_key       = "..."
hf_token             = "..."
ami_id               = "ami-xxxxxxxxxxxxxxxxx"